html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

    .a.nav-link.text-dark:hover, nav-item:active {
        background-color: black;
        color: #fff;
        border-radius: 30px 30px 30px 30px;
    }
    .navbar-nav li a.nav-link.text-dark:hover {
        color: white !important;
        background-color: black;    
        border-radius: 30px 30px 30px 30px;
    }

#cardimg {
    height: 100%;
    width: 100%;
}

#profile_rounded {
    border-radius: 30px 30px 30px 30px !important;
}

#index_img {
    border-radius: 30px 30px 30px 30px !important;
}

#index_img:hover{
    opacity: 70%;
}

.img-wrap {
    width: 100%;
    height:100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

    .img-wrap:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }

    .img-wrap > img {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX( -50%);
        top: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        opacity: 0;
        transition: opacity .4s;
    }

        .img-wrap > img.tallAndNarrow {
            width: 100%;
            top: 50%;
            transform: translateX(0) translateY( -50%);
            left: 0;
            height: auto;
        }

        .img-wrap > img.loaded {
            opacity: 1;
        }