
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<div>
   <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <h4>Products</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover" id="tblProduct">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
   </div>
</div>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <h4>Companies</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover" id="tblCompanies">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js\jquery\dist\jquery.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js" integrity="sha512-7DgGWBKHddtgZ9Cgu8aGfJXvgcVv4SWSESomRtghob4k4orCBUTSRQ4s5SaC2Rz+OptMqNk0aHHsaUBk6fzIXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
